.tweet-list {
    margin-top: 1.25rem;
}

.main-section {
    margin-top: 2.9rem;
}

.loading-tweets {
    text-align: center;
    margin-top: 1rem;
    color: var(  --color-txt-date);
    margin-bottom: 3rem;

}



