.tweet-container {
    padding: 1.25rem;
    background: var(--color-bg-element);
border-radius: 6px;
margin-bottom: 1rem;
font-size: .875rem;
line-height: 1.2;
}

.tweet-header {
    color: var(--color-txt-date);
    margin-bottom: 1rem;
}

.tweet-text {
    word-wrap: break-word;
    white-space: pre-wrap;
}